= form_tag(search_for_words_path, method: :post, class: "pure-form") do
  = text_field_tag :keyword, @keyword || ""
  = submit_tag t('dashboard.form.submit'), class: "pure-button pure-button-primary"
