%tr
  %td.cell.icon-cell
    .icon
  %td.cell
    = form_for(@reply, url: reply_discussion_path(@discussion), html: { class: "pure-form pure-form-stacked reply-form"}) do |f|
      = f.text_area :body
      = f.submit "Reply", class: "pure-button"
