.sub-menu
  = link_to "Create topic", new_discussion_path, class: "pure-button pure-button-primary"
.main-content
  %table.messages
    %tbody
      = render partial: "topic", collection: @discussions, as: :message
