.sub-menu
  = link_to new_discussion_path, class: "pure-button pure-button-primary" do
    %i.fa.fa-pencil-square-o
    = t('discussions.index.new_topic')
.main-content
  %table.messages
    %tbody
      = render partial: "topic", collection: @discussions, as: :message
