%h1.content-subhead
  Haku
= render 'form'
.pure-g
  .pure-u-1-2
    %h1.content-subhead
      Uusimmat sanat
    %ul
      = render partial: "word", collection: @latest_words, as: :word
  .pure-u-1-2
    %h1.content-subhead
      Uusimmat käännökset
    %ul
      = render partial: "translation", collection: @latest_translations, as: :translation
