%h1.content-subhead
  Haku
= render 'form'
.pure-g
  .pure-u-1-3
    %h1.content-subhead
      Uusimmat sanat
    %table.pure-table.pure-table-stacked
      %thead
        %tr
          %th #
          %th Sana
          %th Kieli
      = render partial: "word", collection: @latest_words, as: :word
  .pure-u-2-3
    %h1.content-subhead
      Uusimmat käännökset
    %table.pure-table.pure-table-stacked
      %thead
        %tr
          %th #
          %th Alkuperäinen
          %th Kieli
          %th &rarr;
          %th Käännös
          %th Kieli
      = render partial: "translation", collection: @latest_translations, as: :translation
