%table.pure-table
  %thead
    %tr
      %th #
      %th Sana
      %th Hakutermi
      %th Kieli
      %th Tyyppi
  %tbody
    = render @words
%p
  = link_to "Luo uusi sana &rarr;".html_safe, new_word_path, class: "pure-button pure-button-primary"
