.pure-g
  .pure-u-1-3
    %h1.content-subhead
      = t('words.show.word_detail')
    = render 'words/word_detail'
  .pure-u-2-3
    %h1.content-subhead
      = t('words.show.new_word_description')
    = render 'form'