$alert-margin: 0.5em
$alert-success-color: #d8f2ff
$alert-alert-color: #ffe2d8
$alert-notice-color: #d8f2ff

.alert
  border: 1px solid black
  margin: $alert-margin*2 0 $alert-margin 0
  padding: $alert-margin*2 $alert-margin*2
  .minimal
    padding: 0
    margin: 0
    list-style: none
.alert-success
  background-color: $alert-success-color
  border-color: darken($alert-success-color, 50%)
.alert-alert
  background-color: $alert-alert-color
  border-color: darken($alert-alert-color, 50%)
.alert-notice
  background-color: $alert-notice-color
  border-color: darken($alert-notice-color, 50%)
